.tasks {
    margin: 4rem 0;
}

.taskList {
    margin-top: 1.5rem;
}

.emptyTaskList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15.25rem;
}

.emptyTaskList svg {
    margin-bottom: 1rem;
    color: var(--gray-400);
}

.emptyTaskList p {
    line-height: 1.4;
}